html {
  font-size: 2.7vw;
  background-color: #ebeef5;
}

@media screen and (min-width:640px) {
  html {
    font-size: 62.5%;
    padding: 0 calc((100% - 640px)/2)
  }
}

body {
  background-color: white !important;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}